In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('garmin_data_15_21.csv')
df.head()

,Activity Type,Date,Favorite,Title,Distance,Calories,Time,Avg HR,Max HR,Avg Run Cadence,...,Min Temp,Surface Interval,Decompression,Best Lap Time,Number of Laps,Max Temp,Moving Time,Elapsed Time,Min Elevation,Max Elevation
0,Running,2021-10-24 10:33:31,False,Memphis Running,3.14,407,00:36:09,137,156,146,...,0.0,0:00,No,01:56.18,4,0.0,00:35:56,00:37:17,213,239
1,Cycling,2021-10-23 10:36:01,False,Shelby County Cycling,43.40,"1,781",02:51:45,143,175,--,...,62.6,0:00,No,01:06:30.85,2,0.0,02:51:04,03:02:32,247,468
2,Cycling,2021-10-21 16:07:33,False,Memphis Cycling,30.48,"1,470",02:01:19,154,175,--,...,66.2,0:00,No,02:01:18.60,1,0.0,02:00:26,02:03:11,229,473
3,Running,2021-10-20 17:10:58,False,Memphis Running,3.10,425,00:34:17,148,165,148,...,0.0,0:00,No,01:01.37,4,0.0,00:34:09,00:34:17,218,238
4,Cycling,2021-10-17 12:10:23,False,Germantown Cycling,30.19,"1,249",01:53:18,147,161,--,...,62.6,0:00,No,01:53:18.40,1,0.0,01:52:31,01:59:05,314,500

In [3]:
df.drop(['Favorite', 'Avg Run Cadence', 'Surface Interval', 'Decompression', 'Best Lap Time', 'Number of Laps'], axis=1, inplace=True)
df.head()

,Activity Type,Date,Title,Distance,Calories,Time,Avg HR,Max HR,Max Run Cadence,Avg Pace,...,Grit,Flow,Total Routes,Dive Time,Min Temp,Max Temp,Moving Time,Elapsed Time,Min Elevation,Max Elevation
0,Running,2021-10-24 10:33:31,Memphis Running,3.14,407,00:36:09,137,156,224,11:31,...,0.0,0.0,--,0:00,0.0,0.0,00:35:56,00:37:17,213,239
1,Cycling,2021-10-23 10:36:01,Shelby County Cycling,43.40,"1,781",02:51:45,143,175,--,15.2,...,0.0,0.0,--,0:00,62.6,0.0,02:51:04,03:02:32,247,468
2,Cycling,2021-10-21 16:07:33,Memphis Cycling,30.48,"1,470",02:01:19,154,175,--,15.1,...,0.0,0.0,--,0:00,66.2,0.0,02:00:26,02:03:11,229,473
3,Running,2021-10-20 17:10:58,Memphis Running,3.10,425,00:34:17,148,165,164,11:03,...,0.0,0.0,--,0:00,0.0,0.0,00:34:09,00:34:17,218,238
4,Cycling,2021-10-17 12:10:23,Germantown Cycling,30.19,"1,249",01:53:18,147,161,--,16.0,...,0.0,0.0,--,0:00,62.6,0.0,01:52:31,01:59:05,314,500

In [5]:
df.drop(['Max Run Cadence', 'Grit', 'Flow', 'Total Routes', 'Dive Time'], axis=1, inplace=True)
df.head()

,Activity Type,Date,Title,Distance,Calories,Time,Avg HR,Max HR,Avg Pace,Best Pace,...,Avg Stride Length,Avg Vertical Ratio,Avg Vertical Oscillation,Training Stress Score®,Min Temp,Max Temp,Moving Time,Elapsed Time,Min Elevation,Max Elevation
0,Running,2021-10-24 10:33:31,Memphis Running,3.14,407,00:36:09,137,156,11:31,8:15,...,0.96,0.0,0.0,0.0,0.0,0.0,00:35:56,00:37:17,213,239
1,Cycling,2021-10-23 10:36:01,Shelby County Cycling,43.40,"1,781",02:51:45,143,175,15.2,36.2,...,0.00,0.0,0.0,0.0,62.6,0.0,02:51:04,03:02:32,247,468
2,Cycling,2021-10-21 16:07:33,Memphis Cycling,30.48,"1,470",02:01:19,154,175,15.1,32.5,...,0.00,0.0,0.0,0.0,66.2,0.0,02:00:26,02:03:11,229,473
3,Running,2021-10-20 17:10:58,Memphis Running,3.10,425,00:34:17,148,165,11:03,7:42,...,0.98,0.0,0.0,0.0,0.0,0.0,00:34:09,00:34:17,218,238
4,Cycling,2021-10-17 12:10:23,Germantown Cycling,30.19,"1,249",01:53:18,147,161,16.0,29.8,...,0.00,0.0,0.0,0.0,62.6,0.0,01:52:31,01:59:05,314,500

In [6]:
df.drop(['Avg Vertical Ratio', 'Avg Vertical Oscillation', 'Training Stress Score®'], axis=1, inplace=True)
df.head()

,Activity Type,Date,Title,Distance,Calories,Time,Avg HR,Max HR,Avg Pace,Best Pace,Total Ascent,Total Descent,Avg Stride Length,Min Temp,Max Temp,Moving Time,Elapsed Time,Min Elevation,Max Elevation
0,Running,2021-10-24 10:33:31,Memphis Running,3.14,407,00:36:09,137,156,11:31,8:15,8,13,0.96,0.0,0.0,00:35:56,00:37:17,213,239
1,Cycling,2021-10-23 10:36:01,Shelby County Cycling,43.40,"1,781",02:51:45,143,175,15.2,36.2,"1,601","1,594",0.00,62.6,0.0,02:51:04,03:02:32,247,468
2,Cycling,2021-10-21 16:07:33,Memphis Cycling,30.48,"1,470",02:01:19,154,175,15.1,32.5,541,597,0.00,66.2,0.0,02:00:26,02:03:11,229,473
3,Running,2021-10-20 17:10:58,Memphis Running,3.10,425,00:34:17,148,165,11:03,7:42,11,17,0.98,0.0,0.0,00:34:09,00:34:17,218,238
4,Cycling,2021-10-17 12:10:23,Germantown Cycling,30.19,"1,249",01:53:18,147,161,16.0,29.8,748,758,0.00,62.6,0.0,01:52:31,01:59:05,314,500

In [7]:
df.to_csv('bw_garmin_data.csv', index=False)